/* Desktop styles */
@media (min-width: 768px) {
    /* Your desktop-specific styles here */
}

/* Mobile styles */
@media (max-width: 767px) {
    /* Your mobile-specific styles here */
}


body {
    background-color: rgb(131, 255, 176);
}

p {
    font-family: 'Coiny', sans-serif;
}


h1 {
    font-family: 'Coiny', sans-serif;
    background-color: rgb(244, 130, 134);
    width: 600px;
    margin: 0 auto;
    margin-top: 100px;
    border-radius: 20px;
}


#container {
    text-align: center;
}

#text-field {
    width: 400px;
    height: 100px;
    font-size: 25px;
    font-family: 'Coiny', sans-serif;
    text-align: center;
    border: 5px solid rgb(244, 130, 134);
    margin-bottom: 10px;
    border-radius: 20px;
}

#new-item {
    margin: 50px auto;
    height: 30px;
    width: 100px;
    font-size: 20px;
    background-color: rgb(244, 130, 134);
    border-radius: 15px;
}

#output {
    font-size: 25px;
    font-family:'Coiny', sans-serif;
    margin-bottom: 10px;
}

#h2u {
    background-color: rgb(244, 130, 134);
    margin: 0 auto;
    margin-top: 50px;
    text-align: center;
    font-size: 16px;
    font-family:'Coiny', sans-serif;
    width: 900px;
    border-radius: 20px;
}

.bubble {
    display: inline-block;
    padding: 5px 10px;
    margin: 5px;
    border-radius: 20px;
    background-color: rgba(244, 130, 134, 0.3);
    transition: background-color 0.5s ease;
}

.glow {
    background-color: rgba(244, 130, 134, 1);
}



input[type="file"] {
    /* Your styling here */
    background-color: rgba(244, 130, 134, 1);
    color: #333;
    border: 1px solid rgba(244, 130, 134, 1);
    padding: 8px 12px;
    border-radius: 5px;
    cursor: pointer;
}
